---
layout: pagebase
---
<noscript>
    JavaScript required to buy NFT's!
</noscript>

<div id="App">
</div>

<script src="/static/compiled_ts/store.js"></script>
<script>
    let store = new Store();
    store.Run();
</script>
