---
layout: pagebase
---
<article id="maincontents">
    <h1>@Model.Page.Title</h1>
    <div id="pagecontents">
        <noscript>
            JavaScript required to buy NFT's!
        </noscript>
        <div class="aside-widget">
            <header>
                <h3>Step 1 - Review NFT Policy</h3>
            </header>
            <div class="body">
                Please make sure you understand what buying an NFT of our Betta images gets you.  You can read our NFT Policy <a href="/about/nft_policy/" target="_blank">here.</a>
            </div>
        </div>
        <div class="aside-widget">
            <header>
                <h3>Step 2 - Confirmation</h3>
            </header>
            <div class="body" id="imageDiv">
                Please make sure this is the NFT you want to buy.  If not, do not continue!
                <noscript>
                    JavaScript required to view image.
                </noscript>
            </div>
        </div>
        <div class="aside-widget">
            <header>
                <h3>Step 3 - Connect Wallet</h3>
            </header>
            <div class="body" id="connectWalletDiv">
                <noscript>
                    JavaScript required to connect wallet.
                </noscript>
                <button class="btn btn-clean-one" id="connectWalletButton">Connect Wallet</button>
            </div>
        </div>
    </div>
</article>

<script src="/static/compiled_ts/store.js"></script>
<script>
    let store = new Store();
    store.Run();
</script>
